
html {
    font-size: 14px;
}

body {
  font-family: "Open Sans";
}

img {
  width: 100%;
}

#explore {
color: #399bd1;
}

.navbar-brand {
  float: right;
}

.btn.btn-primary.btn-lg {
  padding: 1.3rem;
  width: 11.4rem;
  margin-top: 0px;
  margin-bottom: 20px;
}

.jumbotron-bike {
  background-image: url("../../resources/media/jumbotron-bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: black solid 1px;
  color: white;
  text-align: center;
}

.nav {
  font-weight: bold;
}


.jumbotron-bike h1 {
  padding-top: 11.85rem;
  font-size: 7.1rem;
  font-family: "Monoton";
}

.jumbotron-bike p {
  padding-bottom: 11.85rem;
  width: 51.3rem;
  margin: auto;
}

h2 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h4 {
  font-weight: bold;
}

.featured__text:last-of-type h4 {
  color: #399bd1;
}

.image-container {
  opacity: 0.7;
}

.footer h1{
  margin-top: 5.2rem;
  font-size: 2.5rem;
}

.footer p {
  font-size: 1rem;
}

.footer {
  text-align: center;
  m
}
